:root {
    --Header-height: 80px;
    --Header-button-height: 32px;
    --max-width: 1920px;
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    overflow-x: hidden
}
.container {
    width: 100%;
    user-select:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
